    .catalog-hotels-search {
        background-image: url("images/landscape/catalog-background.png");
        padding-top: 35px;
        padding-bottom: 86px;
        background-position: center;
        background-size: cover;
        padding-top: 40px;
    }
    
    .breadcrumbs-catalog-header {
        display: flex;
        align-items: flex-start;
        padding: 0px;
        margin: 0;
        margin-bottom: 48px;
        list-style: none;
        padding: 0px 0 0 2px;
    }
    
    .breadcrumbs-item {
        margin-right: 8.5px;
    }
    
    .breadcrumbs-link {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 21px;
        text-decoration: none;
    }
    
    .inner-header-title {
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 700;
        margin: 0;
        line-height: 68px;
    }
    
    .filter-infrastructure,
    .filter-accomodation,
    .catalog-filter-list,
    .price-limits-area {
        justify-content: left;
        margin-left: -20px;
        padding-left: -20px;
        list-style: none;
        border: none;
        display: flex;
        flex-direction: column;
    }
    
    .filter-areas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: left;
        list-style: none;
        border: none;
        color: #FFFFFF;
        font-size: 18px;
    }
    
    .catalog-filter-item,
    .accomodation-filter-item {
        height: 23px;
        margin-bottom: 13px;
        justify-content: left;
        margin-left: -20px;
    }
    
    .price-limits-input {
        display: grid;
        width: 287px;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 15px;
        padding: 0;
        background: none;
    }
    
    .price-input {
        display: block;
        height: 48px;
        width: 143.5px;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        padding: 13px 10px 12px 16px;
        font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
    }
    
    .price-from {
        border-radius: 4px 0px 0px 4px;
    }
    
    .price-to {
        border-radius: 0px 4px 4px 0px;
    }
    
    .control {
        position: relative;
        display: block;
        padding-left: 39px;
    }
    
    .control-input {
        font-size: 18px;
        line-height: 23.21px;
    }
    
    .control-subtitle {
        font-size: 20px;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 16px;
        display: block;
    }
    
    .clear-search-parameters {
        color: #FFFFFF;
        font-size: 18px;
        text-decoration: none;
    }
    
    .filter-activate {
        display: grid;
        text-align: center;
        border: none;
        justify-content: center;
    }
    
    .filter-parameter-set {
        background-color: #83B3D3;
        vertical-align: middle;
        margin-top: 35px;
        margin-left: 70px;
        color: #FFFFFF;
        height: 48px;
        width: 160px;
        font: 16px bold;
        text-transform: uppercase;
        font: 700;
        font-family: inherit;
    }
    
    .clear-search-parameters {
        /* margin-left: 45px;*/
        margin: 20px 45px 0;
        padding-left: 25px;
        height: 23px;
        width: 160px;
    }
    
    .catalog-results {
        padding-top: 44px;
        margin-bottom: 73px;
    }
    
    .mailing-catalog {
        text-align: center;
    }
    
    .filter-output-area {
        display: flex;
        margin-bottom: 73px;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .search-total {
        font-size: 30px;
        line-height: 39px;
        margin: 0 20px 0 0;
    }
    
    .catalog-select-control {
        width: 288px;
        height: 48px;
        margin-left: auto;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: #333333;
        background-color: #FFFFFF;
        border: 2px solid #E6E6E6;
        border-radius: 4px;
        padding: 10px 17px 11px;
        background-image: url(../images/catalog/catalog-select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 20px center;
        appearance: none;
        box-sizing: border-box;
    }
    
    .output-type {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0 0 0 74px;
    }
    
    .output-item {
        margin-left: 8px;
    }
    
    .location-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        grid-column-gap: 18px;
        grid-row-gap: 10px;
        padding: 0;
        margin: 0 0 26px;
    }
    
    .product-card-button-favorite {
        background-color: #83B3D3;
        display: flex;
        flex-direction: column;
        color: #83B3D3;
        width: 140px;
        height: 37px;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        justify-content: center;
        text-align: center;
        /* text-align: middle; */
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .product-card-button-favorite:hover {
        background-color: #68A2CA;
    }
    
    .product-card-button-favorite:focus {
        background-color: #68A2CA;
        outline: 3px solid #756257;
    }
    
    .price-input:focus {
        outline: 3px solid #68A2CA;
    }
    
    .price-input:active {
        background-color: #756257;
        outline: 2px solid #ffffff;
    }
    
    .product-card-button-favorite:active {
        background-color: #68A2CA 0.2;
    }
    
    .hotels-loading {
        display: flex;
        justify-content: center;
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
        padding: 30px 0;
    }
    
    .product-card-favorite-landed {
        background-color: #7DB54F;
    }
    
    .product-card-favorite-landed:hover {
        background-color: #6C9E42;
    }
    
    .product-card-favorite-landed:focus {
        background-color: #6C9E42;
        outline: 3px solid #68A2Ca;
    }
    
    .product-card-button-details {
        background-color: #756257;
        display: flex;
        flex-direction: column;
        color: #83B3D3;
        width: 133px;
        height: 37px;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        text-decoration: none;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 16px;
        margin-right: 5px;
        margin-bottom: 16px;
    }
    
    .product-card-button-details:hover {
        background-color: #615048;
    }
    
    .product-card-button-details:focus {
        background-color: #615048;
        outline: 3px solid #83B3D3;
    }
    
    .product-card-button-details:active {
        background-color: #615048 0.2;
        outline: 3px solid #83B3D3;
    }
    
    .hotel-card-details {
        display: grid;
        grid-template-columns: 133px 140px;
        margin-top: 16px;
        justify-content: space-between;
    }
    
    .product-card {
        padding: 20px;
    }
    
    .product-card-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        margin: 0 0 20px;
    }
    
    .product-card-image {
        margin-bottom: 12px;
    }
    
    .card-load-button {
        line-height: 26px;
        padding: 18px 0px;
        width: 620px;
        display: inline-block;
        font-family: inherit;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        background-color: #83B3D3;
    }
    
    .card-load-button:hover {
        background-color: #68A2CA;
    }
    
    .card-load-button:focus {
        background-color: #68A2CA;
        outline: 3px solid #756257;
    }
    
    .card-load-button:active {
        background-color: #68A2CA 0.2;
    }
    
    .card-load-summary {
        padding-top: 30px;
        display: flex;
        align-items: center;
    }
    
    .pagination-catalog-container {
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .pagination-item-catalog {
        align-items: center;
        margin-right: 9px;
        list-style: none;
    }
    
    .pagination-link-button {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        vertical-align: middle;
        height: 55px;
        min-width: 55px;
        background-color: #83B3D3;
        /*   padding-left: 25px;*/
        font-size: 20px;
        justify-content: center;
        line-height: 26px;
        font-weight: bold;
        color: #FFFFFF;
        border-radius: 4px;
    }
    
    .pagination-item-current {
        background-color: #F2F2F2;
        color: black;
    }
    
    .pagination-link-number {
        padding-top: 25px;
    }
    
    .catalog-label {
        margin-left: auto;
        line-height: 23px;
        font-size: 18px;
    }
    
    .catalog-hotel-on-page {
        width: 160px;
        height: 48px;
        margin-left: 58px;
        width: 160px;
        padding-left: 13px;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        color: #333333;
        background-color: #FFFFFF;
        border: 2px solid #E6E6E6;
        border-radius: 4px;
        padding: 10px 17px 11px;
        background-image: url(../images/catalog/catalog-select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 20px center;
        appearance: none;
        box-sizing: border-box;
    }
    
    .control {
        position: relative;
        display: block;
    }
    
    .control-mark {
        position: absolute;
        left: 0;
        background: #FFFFFF;
        border-radius: 4px;
        width: 20px;
        height: 20px;
    }
    
    .control-mark-checkbox:hover {
        background: rgba(255, 255, 255, 0.6);
    }
    
    .control-input[type="radio"]:checked:focus+.control-mark {
        outline: 3px solid #83B3D3;
    }
    
    .control-input[type="checkbox"]:focus+.control-mark {
        outline: 3px solid #83B3D3;
        background: rgba(255, 255, 255, 0.6);
    }
    
    .control-mark-checkbox:active {
        background: rgba(255, 255, 255, 0.3);
    }
    
    .control-input[type="checkbox"]:checked+.control-mark::after {
        position: absolute;
        content: url("images/labels/check-bird.svg");
        display: block;
        top: -2px;
        left: 4px;
    }
    
    .mailing-catalog {
        color: black;
    }
    
    .raiting-stars {
        display: flex;
    }
    
    .control-input[type="radio"]:checked+.control-mark::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-color: #3F5E72;
        border-radius: 50%;
        top: 5px;
        left: 5px;
    }
    
    .control-input[type="radio"]+.control-mark {
        border-radius: 50%;
    }
    
    .control-label {
        font-size: 18px;
        line-height: 23px;
    }
    
    .breadcrumbs-item::after {}