.catalog-hotels-search {
    background-image: url("images/landscape/catalog-background.png");
    height: 408px;
    width: 1200px;
}

.inner-header {
    width: 1200;
    height: 408;
    padding-left: 71px;
}

.breadcrumbs-catalog-header {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin: 0;
}

.inner-header-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 60px;
    width: 1200p;
    height: 68px;
    margin-top: 39px;
    margin-left: 21px;
    padding-top: 38px;
}

.catalog-filter-list {
    list-style: none;
}

.filter-areas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "PT-sans";
    list-style: none;
    padding-left: 71px;
    color: #FFFFFF;
}

.clear-search-parameters {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

.filter-activate {
    display: grid;
    text-align: center;
}

.filter-parameter-set {
    background-color: #83B3D3;
    vertical-align: middle;
}

.mailing-catalog {
    height: 411px;
    margin-left: 40px;
    font-size: 30px;
    line-height: 36px;
    color: black;
}

.filter-output-area {
    margin-top: 40px;
    display: flex;
    margin-left: 20px;
}

.search-total {
    font-family: "PT-sans";
    font-size: 30px;
    text-align: center;
    width: 407px;
    margin-left: 61px;
}

.catalog-select-control {
    text-align: center;
    vertical-align: top;
    height: 49px;
    width: 287px;
    margin-left: 100px;
}

.output-type {
    display: grid;
    grid-template-columns: 56px 56px 56px;
    list-style: none;
    margin-left: 8px;
}

.location-list {
    display: flex;
    margin-left: 71px;
    margin-right: 72px;
    width: 1074px;
    flex-wrap: wrap;
    height: 960px;
    list-style: none;
    background-color: aqua;
}

.product-card {
    width: 340px;
    height: 438px;
    margin-bottom: 10px;
    margin-right: 18px;
}

.card-load-button {
    background-color: #83B3D3;
    display: flex;
    color: #FFFFFF;
    width: auto;
    height: 60px;
    font-size: 20px;
    line-height: 26px;
    padding-top: 17px;
    justify-content: center;
    vertical-align: middle;
    margin-left: 290px;
    margin-right: 290px;
}

.card-load-summary {
    width: 1200px;
    margin-left: 71px;
    margin-right: 71px;
    margin-top: 60px;
    display: flex;
}

.pagination-catalog-container {
    height: 85px;
    width: 460px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    /*  justify-content: left;*/
}

.pagination-item-catalog {
    height: 55px;
    width: 55px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    background-color: #83B3D3;
    color: #FFFFFF;
    margin-right: 8px;
    list-style: none;
}

.pagination-link-button {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 55px;
    width: 55px;
    margin-right: 8px;
}

.pagination-item-current {
    height: 55px;
    width: 55px;
    background-color: #F2F2F2;
    color: black;
    margin-right: 8px;
}

.catalog-label {
    margin-left: 400px;
}

.catalog-hotel-on-page {
    width: fit-content;
    height: auto;
}