body {
    width: 1200px;
    height: 2503px;
    margin: 0;
    padding: 0 10px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
   background-color: none; 
    }
    nav {position: absolute;
        width: 1060px;
        height: 66px;
        left: 40px;
        top: 0px;
        align-content: horizontal;
    background-image: none;}
    .navigation-list {position: absolute;
        left: 15.94%;
        right: 51.51%;
        top: -2.86%;
        bottom: 2.86%;}
    .user-navigation {position: absolute;
        left: 75.09%;
        right: 0%;
        top: 0%;
        bottom: 5.71%;
        }    
    header {position: absolute;
        width: 1060px;
        height: 66px;
        left: 40px;
        top: 0px;
        background-color: blueviolet;
         }
    .main-part {
    position: absolute;
    width: 1060px;
    height: 66px;
    left: 40px;
    top: 66px;
    width: 1200px;
    height: 487px;
    left: 40px;
    top: 62px;
    background-color: "none";
    }
    .advantageslist {position: absolute;
        width: 1200px;
        height: 1535px;
        left: 40px;
        top: 832px;
        background-color: rgb(143, 135, 25);}
    .typography {font: PT Sans;
        position: relative ;
        width: 1600px;
        height: 283.1px;
        left: 40px;
        top: 548.9px;
        background-color: darkgreen;   }
    .visually-hidden {
            display: none; }
    .mailing {position: absolute;
        width: 1200px;
        height: 411px;
        left: 40px;
        top: 2784px;
        background-image: url("images/landscape/background-mailing.png")}
    .hotel-search {position: absolute;
        width: 1200px;
        height: 417px;
        left: 40px;
        top: 2367px;
        }    