body {
    position: relative;
    background: #F2F2F2;
    margin: 0;
    font-family: "PT-sans", sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.logotriangle {
    display: block;
    width: 139px;
}

.navigation-list {}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.user-navigation {}

.navigation-button {
    background: #756257;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.main-part {
    height: 487px;
    display: block;
    width: 458px;
    background-color: #81B3D2;
    background-image: url("images/landscape/sedona-mounteen.jpg");
}

.advantages-list {
    /* height: 1535px;*/
    left: 40px;
    /*  top: 832px;*/
    background-color: burlywood;
    font-size: 18px;
}

.typography {
    font: PT Sans;
    width: 891px;
    top: 548.9px;
    font-weight: bold;
    font-size: 37.125px;
    line-height: 45px;
    /* or 120% */
    text-align: center;
    text-transform: uppercase;
    background-color: darkgreen;
}

.inner-text {
    font-size: 22px;
    line-height: 36px;
    /* or 164% */
    text-align: center;
    /* basic/dark */
    color: #333333;
}

.advantages-description {
    font-size: 24px;
}

.advantage-item {
    width: 400px;
    height: 384px;
    text-align: center;
    left: 40px;
}

.mailing {
    /* position: absolute; */
    width: 1200px;
    height: 411px;
    left: 40px;
    top: 2784px;
    background-image: url("images/landscape/background-mailing.png")
}

.hotel-search {
    width: 1200px;
    height: 411px;
    left: 40px;
    /* top: 2367px; */
    font-size: 30px;
    text-align: center;
}

.hotel-search-text {
    width: 738px;
    height: 63px;
    Left: 262px;
    text-align: center;
    font-size: 22px;
    ;
}

.navigation-button-wide {
    width: 575px;
    height: 60px;
    left: 352px;
    text-align: center;
    background: #756257;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.button-subscribe {
    width: 200 px;
    height: 60 px;
    left: 840 px;
    font-size: 20 px;
    text-align: center;
    vertical-align: middle;
    background-color: #81B3D2;
    color: #FFFFFF;
}

.mail-text {
    font-size: 18px;
    line-height: 26px
}

.footer {
    height: 120px;
    left: 40px;
    background-color: rgb(129, 87, 31);
}

.phone-box {
    height: 50px;
    left: 240px;
    right: 240px;
    top: calc(50% - 50px/2 + 5px);
}