body {
    position: relative;
    background: #F2F2F2;
    margin: 0;
    font-family: "PT-sans", sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.page-header {
    display: grid;
    grid-template-columns: 514px 1fr;
    width: 1200px;
}

.logotriangle {
    display: block;
    width: 139px;
}

.navigation-list {
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px;
}

.user-navigation {
    display: grid;
    grid-template-columns: 80px 80px 162px;
    margin-left: 300px;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.navigation-button {
    background: #756257;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.main-part {
    height: 487px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 51.2px;
    padding-left: 371px;
    width: 1200px;
    background-color: #81B3D2;
    background-image: url("images/landscape/sedona-mounteen.jpg");
}


/*.wellcome-image {
    width: 458px;
    height: 363.38px;
    /*   margin-top: 70px;
    margin-left: 50px; 


}
*/

.advantages-lead {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-color-block {
    background-color: rgba(131, 179, 211, 0.2);
}

.advantages-color-block-blue {
    background-color: #83B3D3;
    color: #FFFFFF;
}

.advantages-color-block-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description {
    font-size: 24px;
}

.advantages-item {
    width: 400px;
    height: 384px;
    text-align: center;
    left: 40px;
}

.mailing {
    width: 1200px;
    height: 411px;
    left: 40px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    background-image: url("images/landscape/background-mailing.png");
}

.hotel-search {
    width: 1200px;
    height: 417px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
}

.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}

.navigation-button-hotel-search {
    width: 575px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    background: #756257;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 36px;
    border-radius: 4px;
}

.button-subscribe {
    width: 200 px;
    height: 60 px;
    left: 840 px;
    font-size: 20 px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    background-color: #81B3D2;
    color: #FFFFFF;
}

.email-text {
    size: 18px;
    line-height: 26px;
    width: 600px;
    height: 60px;
}

.footer {
    /*  height: 120px;*/
    left: 40px;
    width: 1200px;
    background-color: rgb(129, 87, 31);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
}

.footer-social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.phone-box {
    height: 50px;
    left: 240px;
    right: 240px;
    top: calc(50% - 50px/2 + 5px);
}