@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    position: relative;
    background: #F2F2F2;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    height: 100%;
    font-family: "PT Sans", sans-serif;
}

main {
    min-width: 0;
}

.page-header {
    padding: 0;
    margin: 0;
    list-style: none;
}

.logotriangle {
    position: relative;
    z-index: 1;
    display: block;
    width: 139px;
    padding: 0;
    margin: 0 47px -5px 0;
}

.navigation-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
}

.user-navigation {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.user-navigation:last-child {
    margin-right: 0;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 720px 1fr;
    align-items: center;
    vertical-align: middle;
}

.header-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    position: relative;
}

.header-user-navigation-item {
    margin-left: 23px;
}

.header-user-navigation-item:last-of-type {
    margin-left: 32px;
}

.navigation-favorite-count {
    position: absolute;
    top: -5px;
    right: -14px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
    background: #7DB54F;
    border-radius: 10px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    box-sizing: border-box;
}

.navigation-link.active {
    position: relative;
}

.navigation-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: #756257;
}

.header-user-navigation-item {
    margin-left: 23px;
}

.header-user-navigation-item:last-of-type {
    margin-left: 32px;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.navigation-link:focus {
    color: #BF3535;
}

.navigation-button:hover {
    background-color: #61504B;
}

.navigation-button:active {
    color: #ffffff 0.3;
}

.navigation-button:focus {
    border-color: #83B3D3;
    border-style: solid;
    border-width: 3px;
}

.header-navigation-item {
    margin-right: 34px;
}

.navigation-button {
    background: #756257;
    border-radius: 4px;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    padding: 9px 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.main-part::after {
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='1200' height='57' viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E%0A");
    height: 57px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    bottom: 0;
}

.main-part {
    padding: 52px 0 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/landscape/sedona-mounteen.jpg");
    background-size: cover;
    background-position: center;
}

.advantages-lead-area {
    height: 283.1px;
    left: 40px;
    align-items: center;
    margin-top: 63px;
}

.advantages-lead {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 30px;
    max-width: 720px;
    left: 194.5px;
    text-align: center;
}

.inner-text {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}

.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 1535px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantages-color-block {
    background-color: rgba(131, 179, 211, 0.2);
    vertical-align: middle;
    width: 400px;
    height: 384px;
}

.advantages-color-block-white {
    background-color: #FFFFFF;
    /*   width: 400px;
    height: 384px; */
}

.advantages-color-block-blue {
    background-color: #83B3D3;
    color: #FFFFFF;
    /*  width: 400px; */
}

.advantages-color-block-light-blue {
    background-color: rgba(131, 179, 211, 0.12);
    /*   width: 400px;
    height: 384px;*/
}

.advantages-list-item {
    width: 400px;
    height: 384px;
}

.advantages-list-item-full {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
}

.advantages-sublist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin-left: -15px;
}

.advantages-description {
    font-size: 18px;
    /* width: fit-content; */
}

.advantage1-story {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: baseline;
}

.mailing {
    height: 411px;
    width: 1200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 30px;
    vertical-align: middle;
    line-height: 36px;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    background-image: url("images/landscape/background-mailing.png");
}

.mailing-title {
    margin: 0 auto 46px;
    line-heighT: 36px;
    max-width: 720px;
    font-size: 30px;
    text-align: center;
    padding-top: 94px;
}


/*.haus-picture {
    position: relative;
    left: 20px;
}*/

.mail-text {
    margin: 0 auto 46px;
    line-height: 26px;
    font-size: 22px;
    text-align: center;
    width: 600px;
    height: 60px;
}

.hotels-search {
    height: 417px;
    font-size: 20px;
    line-height: 36px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.hotel-search-title {
    margin-top: 91px;
}

.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}

.navigation-button-hotel-search {
    background-color: #756257D3;
    display: flex;
    color: #FFFFFF;
    width: 575px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700 bold;
    padding-top: 17px;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 10px;
}

.button-subscribe {
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    background-color: #81B3D2;
    color: #FFFFFF;
    margin: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -9px;
    border: none;
}

.mail-text {
    size: 18px;
    line-height: 26px;
    width: 600px;
    height: 60px;
    background-color: #F2F2F2;
    border-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0;
}

.footer-social-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social-item {
    margin-right: 19px;
}

.academy-logo {
    width: 134px;
    padding: 0;
    height: auto;
    margin: 0 52px -7px 0;
}

.phone-box {
    top: calc(50% - 50px/2 + 5px);
    font-size: 40px;
    width: 720px;
    text-align: center;
}

.hotels-search {
    height: 408px;
    padding: 0;
    margin: 0;
}

.label-subscription {
    margin-right: 0;
}

.rate-value {
    background-size: inherit;
    padding: 10px;
    margin-left: -15px;
    text-align: center;
    background-color: #F2F2F2;
}